<% if login_result %>
  <h2>Login Result</h2>
  <table border="1">
    <tr>
      <th>Status</th>
      <td><font color="<%= login_result[:success] ? success_color : error_color %>"><%= login_result[:success] ? "success" : "error" %></font></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><font color="<%= login_result[:success] ? success_color : error_color %>"><%= login_result[:message] %></font></td>
    </tr>
    <% if login_result[:email] %>
      <tr>
        <th>Email</th>
        <td><%= login_result[:email] %></td>
      </tr>
    <% end %>
    <% if login_result[:token] %>
      <tr>
        <th>Token</th>
        <td><%= login_result[:token] %></td>
      </tr>
    <% end %>
  </table>

  <% if login_result[:decoded_token] %>
    <h3>Decoded Token</h3>
    <table border="1">
      <% login_result[:decoded_token].each do |key, value| %>
        <tr>
          <th><%= key %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
